<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Data.Access.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NORTHWND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>